In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [45]:
df1=pd.read_csv(r"C:\Users\HP\OneDrive\Documents\Main Internship\Task 2 19-12-2025\overall_marks_grade_dataset.csv")
df

,StudentID,AttendancePercentage,InternalMarks,AssignmentMarks,QuizMarks,LabMarks,FinalExamMarks,TotalMarks,OverallGrade
0,3001,90,34,23,27,51,58,41.7,3
1,3002,58,33,89,15,95,84,70.1,1
2,3003,52,23,31,23,49,94,51.1,3
3,3004,88,23,91,22,89,83,67.7,2
4,3005,64,77,95,27,20,50,56.1,2
...,...,...,...,...,...,...,...,...,...
995,3996,91,37,94,44,45,47,53.7,3
996,3997,69,87,37,37,38,50,51.1,3
997,3998,70,28,91,44,35,53,51.1,3
998,3999,70,38,23,30,72,82,54.2,3
999,4000,69,76,55,19,44,43,49.8,3

In [46]:
df2=pd.read_csv(r"C:\Users\HP\OneDrive\Documents\Main Internship\Task 2 19-12-2025\overall_marks_grade_dataset_part2.csv")

In [51]:
df = pd.concat([df1, df2], axis=0)
df.reset_index(drop=True, inplace=True)

In [52]:
df.shape

(1500, 9)

In [53]:
df.head()

,StudentID,AttendancePercentage,InternalMarks,AssignmentMarks,QuizMarks,LabMarks,FinalExamMarks,TotalMarks,OverallGrade
0,3001,90,34,23,27,51,58,41.7,D
1,3002,58,33,89,15,95,84,70.1,B
2,3003,52,23,31,23,49,94,51.1,D
3,3004,88,23,91,22,89,83,67.7,C
4,3005,64,77,95,27,20,50,56.1,C

In [54]:
df.tail()

,StudentID,AttendancePercentage,InternalMarks,AssignmentMarks,QuizMarks,LabMarks,FinalExamMarks,TotalMarks,OverallGrade
1495,4496,76,41,88,34,27,90,61.6,C
1496,4497,57,48,22,17,68,31,38.6,F
1497,4498,64,50,53,35,53,72,56.3,C
1498,4499,79,89,48,43,71,83,70.8,B
1499,4500,76,68,79,48,99,87,80.1,B

In [55]:
df.isnull().sum()

StudentID               0
AttendancePercentage    0
InternalMarks           0
AssignmentMarks         0
QuizMarks               0
LabMarks                0
FinalExamMarks          0
TotalMarks              0
OverallGrade            0
dtype: int64

In [56]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['OverallGrade']=le.fit_transform(df['OverallGrade'])
df

,StudentID,AttendancePercentage,InternalMarks,AssignmentMarks,QuizMarks,LabMarks,FinalExamMarks,TotalMarks,OverallGrade
0,3001,90,34,23,27,51,58,41.7,3
1,3002,58,33,89,15,95,84,70.1,1
2,3003,52,23,31,23,49,94,51.1,3
3,3004,88,23,91,22,89,83,67.7,2
4,3005,64,77,95,27,20,50,56.1,2
...,...,...,...,...,...,...,...,...,...
1495,4496,76,41,88,34,27,90,61.6,2
1496,4497,57,48,22,17,68,31,38.6,4
1497,4498,64,50,53,35,53,72,56.3,2
1498,4499,79,89,48,43,71,83,70.8,1
1499,4500,76,68,79,48,99,87,80.1,1

In [57]:
df['OverallGrade'].value_counts()

OverallGrade
2    708
3    550
1    172
4     64
0      6
Name: count, dtype: int64

In [58]:
handle=df['OverallGrade'].median()
handle

2.0

In [59]:
x=df[['AttendancePercentage','InternalMarks','AssignmentMarks','QuizMarks','LabMarks','FinalExamMarks']]
x

,AttendancePercentage,InternalMarks,AssignmentMarks,QuizMarks,LabMarks,FinalExamMarks
0,90,34,23,27,51,58
1,58,33,89,15,95,84
2,52,23,31,23,49,94
3,88,23,91,22,89,83
4,64,77,95,27,20,50
...,...,...,...,...,...,...
1495,76,41,88,34,27,90
1496,57,48,22,17,68,31
1497,64,50,53,35,53,72
1498,79,89,48,43,71,83
1499,76,68,79,48,99,87

In [60]:
y=df[['OverallGrade']]
y

      OverallGrade
0                3
1                1
2                3
3                2
4                2
...            ...
1495             2
1496             4
1497             2
1498             1
1499             1

[1500 rows x 1 columns]

In [61]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [62]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_train,y_train)

C:\Users\HP\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\HP\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [63]:
y_pred=model.predict(x_test)
y_pred

array([3, 2, 2, 3, 2, 2, 3, 2, 1, 2, 2, 2, 4, 3, 3, 3, 2, 3, 3, 2, 3, 2,
       3, 2, 2, 2, 2, 3, 2, 2, 2, 3, 2, 2, 3, 2, 3, 2, 3, 2, 2, 2, 3, 3,
       1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 2, 2, 3, 2, 3, 2, 2,
       3, 2, 3, 2, 2, 2, 2, 2, 2, 4, 3, 3, 3, 2, 2, 1, 1, 2, 3, 3, 2, 2,
       3, 2, 2, 3, 3, 2, 2, 2, 3, 3, 2, 2, 2, 2, 3, 2, 2, 2, 3, 3, 2, 2,
       2, 2, 2, 3, 2, 2, 3, 2, 2, 4, 2, 3, 2, 2, 2, 3, 2, 2, 2, 2, 3, 3,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 3, 2, 2, 2, 2, 3, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 3, 2, 1, 2, 3, 2, 2, 2,
       2, 3, 3, 2, 2, 2, 1, 3, 2, 3, 3, 2, 3, 2, 3, 2, 2, 2, 2, 2, 2, 2,
       2, 3, 2, 2, 2, 2, 2, 2, 3, 2, 2, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       3, 3, 2, 1, 3, 2, 2, 2, 2, 3, 2, 2, 2, 2, 3, 3, 2, 2, 2, 3, 2, 2,
       2, 2, 3, 3, 2, 2, 2, 2, 2, 2, 2, 3, 2, 4, 2, 2, 2, 3, 2, 3, 2, 1,
       2, 3, 2, 2, 2, 2, 3, 3, 3, 2, 2, 3, 3, 3, 2, 2, 2, 2, 3, 1, 2, 2,
       3, 2, 2, 4, 2, 3, 3, 2, 2, 2, 2, 2, 2, 2])

In [64]:
model.score(x_train,y_train)

0.6175

In [65]:
model.score(x_test,y_test)

0.6566666666666666